doctype html
html(lang="vi")
  head
    title #{pageTitle || "Admin"}
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css")
    link(rel="stylesheet", href="/admin/css/style.css")

    block styles

  body
    .admin-wrapper
      include ../partials/sider.pug

      .main
        include ../partials/header.pug

        main.content
          block main

    script(src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js")
    script(type="module" src="/admin/js/script.js")
    block script
