extends ../../layouts/default.pug

block styles
  link(rel="stylesheet", href="/admin/css/pages/tours.css")

block main
  h1(class="mb-4") #{pageTitle}

  .card.mb-3
    .card-header Danh sách
    .card-body
      .row
        .col-8

        .col-4.text-right
          a(
            href=`/${prefixAdmin}/tours/create`
            class="btn btn-outline-success"
          ) + Thêm mới

      table(
        class="table table-hover table-sm mt-3"
      )
        thead
          tr
            th STT
            th Hình ảnh
            th Tiêu đề
            th Giá
            th % Giảm giá
            th Giá đặc biệt
            th Còn lại
            th Trạng thái
            th Vị trí
            th Hành động
        tbody(list-tour)

block script
  script(type="module" src="/admin/js/pages/tour/index.js")
